body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  background-color: #697565;
  color: white;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 40px;
  height: auto;
  margin-right: 10px; 
  border-radius: 10px;
}

.app-name {
  font-size: 1.5rem;
  font-weight: bold;
}
